apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eks-volume
  labels:
    app: nginx
spec:
  storageClassName: eks-storage-class
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi